.tableSplit {
  display: flex;
  border-bottom: 1px solid black;
}

.tableContainer {
  margin-top: 3rem;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  overflow-y: auto;
  height: 350px;
  font-family: "Quicksand";
}

.tableField {
  width: 20%;
  padding: 0.5rem;
}

.tableField:not(:last-child) {
  border-right: 1px solid black;
}
